:root {
    --btn: #dbdbdb;
    --btn-hover: #cacaca;
    --item-bg: #f0f0f0;
    --model-bg: rgba(141, 141, 141, .541);
}

body {
    font-family: sans-serif;
    padding: 0 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: var(--btn);
    cursor: pointer;
}
.header > button:hover {
    background-color: var(--btn-hover);
}
.employees {
    display: flex;
}
.employees > div {
    border: 1px solid black;
    overflow-y: scroll;
    height: 450px;
}
.employees_names { 
    width: 30%; 
} 
.employees_single { 
    width: 70%; 
} 
.employees__names, 
.employees__single { 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
} 
.employees_names--title, 
.employees_single--title { 
    padding-bottom: 10px; 
    margin-bottom: 5px; 
    text-align: center; 
    border-bottom: 1px solid black; 
} 
.employees_names--list { 
    display: flex; 
    flex-direction: column; 
} 
.employees_names--item { 
    cursor: pointer; 
    padding: 10px 15px; 
    margin-bottom: 5px; 
    text-align: center; 
    background-color: var(--item-bg); 
    border-radius: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.employees_names--item:hover, 
.employees_names--item.selected { 
    background-color: var(--btn); 
} 
.employees_single--heading { 
    text-align: center; 
    font-size: 25px; 
    text-transform: uppercase; 
    padding: 5px; 
} 
.employees_single--info { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
} .employees_single--info > .imgContainer{
    position: relative;
    width: 200px; 
    height: 200px; 
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%; 
}
.employees_single--info > .imgContainer > img { 
    object-fit: cover; 
    width: 100%;
    height: 100%;;
}
.employees_single--info > .imgContainer::after{
    position: absolute;
    content: '';
    z-index: 1000;
    inset: 0;
    top: 0;
    opacity: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: .5s ease;
}.employees_single--info > .imgContainer:hover::after{
    opacity: 1;
}
.employees_single--info #options{
    display: flex;
    gap: 8px;
}#options button{
    display: block;
    cursor: pointer;
}#options #save {
    display: none;
}
.addEmployee { 
    display: none;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    inset: 0;
    justify-content: center; 
    align-items: center; 
    background-color: var(--model-bg); 
} 
.addEmployee_create { 
    width: 400px; 
    background-color: white; 
    box-shadow: 0 0 50px grey; 
    padding: 20px; 
    border-radius: 5px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
}
.addEmployee_create input { 
    padding: 5px 10px; 
    border-radius: 5px; 
    border: 1px solid rgb(236, 236, 236); 
} 
  
/* removes arrows from input type='number' */
.addEmployee_create input::-webkit-outer-spin-button, 
.addEmployee_create input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
.addEmployee_create--submit { 
    padding: 10px !important; 
    border-radius: 5px; 
    border: none; 
    background-color: var(--btn); 
    cursor: pointer; 
} 
.addEmployee_create--submit:hover { 
    background-color: var(--btn-hover); 
} 
/* Add Employee - END */